In [43]:
# Step 1: Dataset Loading

import pandas as pd
import matplotlib.pyplot as plt



# Load the dataset (replace 'your_dataset.csv' with the actual filename)
dataset_path = 'food_data_final.csv'
df = pd.read_csv(dataset_path)

# Display the first few rows of the dataset
df

,food items,Avg Serving Size,Calories,Category,gluten,Carbs,Total Fat,Saturated Fat,Protein,Fiber,...,Potassium,Magnesium,Phosphorus,Vitamin C,Vitamin A,Calcium,Iron,Zinc,Vitamin E,Vitamin K
0,Apple,182.0,94.64,Fruits,NIL,25.4800,0.3640,0.182,0.546,4.368,...,194.74,9.10,20.020,8.372,10.92,0.3276,4.004,10.920,0.1820,0.0910
1,Apricot,55.0,26.40,Fruits,NIL,6.0500,0.2200,0.000,0.770,1.100,...,142.45,5.50,12.650,5.500,1059.30,0.4895,1.705,7.150,0.2145,0.1100
2,Avocado,30.0,48.00,Fruits,NIL,2.7000,0.6000,0.090,0.600,0.600,...,75.00,8.70,15.600,3.000,2.10,0.6210,6.300,3.600,0.1800,0.1800
3,Banana,118.0,105.02,Fruits,NIL,27.1400,0.3540,0.118,1.298,3.068,...,422.44,31.86,25.960,10.266,1.18,0.1180,0.590,5.900,0.3540,0.1770
4,Black Chokeberry,143.0,71.50,Fruits,NIL,17.1600,0.7150,0.000,1.430,4.290,...,1082.51,41.47,42.900,41.899,1258.40,2.4310,1.287,77.220,2.2880,1.0868
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
422,velvet beans,100.0,347.00,Protien,NIL,63.3800,1.4600,0.420,25.230,19.200,...,1664.00,0.00,276.000,1.400,0.00,0.0000,7.200,50.000,13.4000,7.5000
423,pink beans,100.0,341.00,Protien,NIL,60.1300,1.2600,0.240,23.580,15.400,...,1407.00,0.00,354.000,1.800,0.00,0.0000,29.000,43.000,6.8000,4.2000
424,pintoÂ beans,100.0,347.00,Protien,NIL,62.6500,1.1600,0.150,21.420,15.400,...,1392.00,0.00,374.000,1.300,0.00,0.0000,24.000,55.000,2.4000,4.2000
425,navy beans,333.0,200.13,Protien,NIL,4.0959,0.8658,74.259,78.588,0.000,...,406.26,1478.52,2.664,0.000,476.19,0.0000,0.000,14.985,14.6520,0.6660
426,Eggs,50.0,71.50,Non-veg Protien,NIL,0.5500,4.7500,1.350,6.300,0.000,...,69.00,5.00,101.000,0.000,74.50,25.0000,1.350,0.650,0.5500,0.0000

In [44]:
df.describe()

,Avg Serving Size,Calories,Carbs,Total Fat,Saturated Fat,Protein,Fiber,Cholesterol,Sodium,Sugar,Potassium,Magnesium,Phosphorus,Vitamin C,Vitamin A,Calcium,Iron,Zinc,Vitamin E,Vitamin K
count,427.000000,427.000000,427.000000,427.000000,427.000000,427.000000,427.000000,427.000000,427.000000,427.000000,427.000000,427.000000,427.000000,427.000000,427.000000,426.000000,427.000000,427.000000,427.000000,427.000000
mean,90.705152,123.959639,16.269320,4.545759,1.738200,6.167006,3.434702,11.710281,28.139610,26.302379,308.959544,59.998783,130.396450,23.529681,342.341972,12.493033,20.107926,28.468146,1.231406,0.991592
std,50.139972,122.363518,22.582265,8.254891,7.468819,8.710962,5.035094,32.035429,64.806115,320.438580,286.260170,122.606010,145.842545,143.104771,1073.595376,31.855080,100.109514,59.328217,2.351503,2.317831
min,2.100000,0.180000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,50.000000,34.650000,2.750000,0.294000,0.000400,1.300000,0.584000,0.000000,1.860000,0.252000,152.940000,12.800000,29.060000,0.000000,0.000000,0.190000,0.392000,1.453000,0.200000,0.096100
50%,100.000000,97.000000,6.200000,0.970000,0.190000,2.800000,2.090000,0.000000,5.600000,1.215200,252.000000,26.320000,66.000000,1.320000,4.000000,0.655000,1.508000,9.000000,0.495000,0.300000
75%,100.000000,159.805000,22.897000,4.975000,1.000000,6.300000,3.824000,0.000000,26.800000,3.114000,383.000000,59.700000,200.000000,14.678000,146.000000,13.120000,6.300000,27.000000,1.400000,0.991125
max,333.000000,867.510000,157.950000,69.100000,99.900000,78.588000,39.200000,233.000000,492.480000,4685.310000,2573.370000,1478.520000,845.450000,2832.900000,10190.660000,344.000000,1810.000000,550.000000,28.000000,28.000000

In [45]:
print(df.isnull().sum())

food items          0
Avg Serving Size    0
Calories            0
Category            0
gluten              0
Carbs               0
Total Fat           0
Saturated Fat       0
Protein             0
Fiber               0
Cholesterol         0
Sodium              0
Sugar               0
Potassium           0
Magnesium           0
Phosphorus          0
Vitamin C           0
Vitamin A           0
Calcium             1
Iron                0
Zinc                0
Vitamin E           0
Vitamin K           0
dtype: int64

In [46]:
df

,food items,Avg Serving Size,Calories,Category,gluten,Carbs,Total Fat,Saturated Fat,Protein,Fiber,...,Potassium,Magnesium,Phosphorus,Vitamin C,Vitamin A,Calcium,Iron,Zinc,Vitamin E,Vitamin K
0,Apple,182.0,94.64,Fruits,NIL,25.4800,0.3640,0.182,0.546,4.368,...,194.74,9.10,20.020,8.372,10.92,0.3276,4.004,10.920,0.1820,0.0910
1,Apricot,55.0,26.40,Fruits,NIL,6.0500,0.2200,0.000,0.770,1.100,...,142.45,5.50,12.650,5.500,1059.30,0.4895,1.705,7.150,0.2145,0.1100
2,Avocado,30.0,48.00,Fruits,NIL,2.7000,0.6000,0.090,0.600,0.600,...,75.00,8.70,15.600,3.000,2.10,0.6210,6.300,3.600,0.1800,0.1800
3,Banana,118.0,105.02,Fruits,NIL,27.1400,0.3540,0.118,1.298,3.068,...,422.44,31.86,25.960,10.266,1.18,0.1180,0.590,5.900,0.3540,0.1770
4,Black Chokeberry,143.0,71.50,Fruits,NIL,17.1600,0.7150,0.000,1.430,4.290,...,1082.51,41.47,42.900,41.899,1258.40,2.4310,1.287,77.220,2.2880,1.0868
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
422,velvet beans,100.0,347.00,Protien,NIL,63.3800,1.4600,0.420,25.230,19.200,...,1664.00,0.00,276.000,1.400,0.00,0.0000,7.200,50.000,13.4000,7.5000
423,pink beans,100.0,341.00,Protien,NIL,60.1300,1.2600,0.240,23.580,15.400,...,1407.00,0.00,354.000,1.800,0.00,0.0000,29.000,43.000,6.8000,4.2000
424,pintoÂ beans,100.0,347.00,Protien,NIL,62.6500,1.1600,0.150,21.420,15.400,...,1392.00,0.00,374.000,1.300,0.00,0.0000,24.000,55.000,2.4000,4.2000
425,navy beans,333.0,200.13,Protien,NIL,4.0959,0.8658,74.259,78.588,0.000,...,406.26,1478.52,2.664,0.000,476.19,0.0000,0.000,14.985,14.6520,0.6660
426,Eggs,50.0,71.50,Non-veg Protien,NIL,0.5500,4.7500,1.350,6.300,0.000,...,69.00,5.00,101.000,0.000,74.50,25.0000,1.350,0.650,0.5500,0.0000

In [47]:
category_stats = df.groupby('Category').agg({
    'Avg Serving Size': 'mean',
    'Calories': 'mean',
    'Carbs': 'mean',
    'Total Fat': 'mean',
    'Protein': 'mean',
    'Fiber': 'mean',
    'Cholesterol': 'mean',
    'Sodium': 'mean',
    'Sugar': 'mean',
    'Potassium': 'mean',
    'Magnesium': 'mean',
    'Phosphorus': 'mean',
    'Vitamin C': 'mean',
    'Vitamin A': 'mean',
    'Calcium': 'mean',
    'Iron': 'mean',
    'Zinc': 'mean',
    'Vitamin E': 'mean',
    'Vitamin K': 'mean'
}).reset_index()

In [48]:
category_stats

,Category,Avg Serving Size,Calories,Carbs,Total Fat,Protein,Fiber,Cholesterol,Sodium,Sugar,Potassium,Magnesium,Phosphorus,Vitamin C,Vitamin A,Calcium,Iron,Zinc,Vitamin E,Vitamin K
0,Dairy,59.148529,106.906176,4.840832,10.211112,2.732265,2.323882,26.677353,73.953235,3.994715,80.095882,6.691176,65.838529,25.636706,285.575882,0.229776,0.567735,79.286588,0.138576,0.338847
1,Fruits,132.420652,93.547609,21.741761,1.611015,1.575309,4.176321,0.000000,3.046533,14.316076,382.500109,24.950109,36.506750,43.310293,423.005870,0.657017,8.282234,21.871750,0.526740,0.255160
2,Grains,111.440000,199.961067,40.887987,1.844940,6.370973,5.646907,0.000000,12.680400,2.234143,349.218667,123.558533,285.994133,0.278267,4.222667,39.790267,3.678627,1.776811,0.790843,1.109827
3,Meat,100.000000,155.186047,0.523488,7.390000,21.327209,0.000000,86.883721,115.488372,0.000000,306.558140,35.069767,225.279070,1.481395,55.093023,0.731905,1.513953,32.488372,2.388372,2.068605
4,Non-veg Protien,50.000000,71.500000,0.550000,4.750000,6.300000,0.000000,186.500000,71.000000,0.050000,69.000000,5.000000,101.000000,0.000000,74.500000,25.000000,1.350000,0.650000,0.550000,0.000000
5,Nuts & Seeds,43.196000,176.315413,11.349885,12.857578,5.144603,3.248372,0.000000,2.139987,1.304766,218.393073,79.321540,137.791407,1.761404,9.315360,25.838736,1.439287,0.992333,1.328114,1.833640
6,Protien,132.875000,287.653750,47.169488,1.883225,26.413500,12.125000,9.990000,14.724125,587.100000,925.920000,263.215000,274.470500,2.775000,76.898750,29.743750,16.547500,36.089375,6.160250,2.458250
7,Vegetables,93.917241,53.284828,10.096786,0.548138,3.238648,2.974821,0.626483,21.343041,37.755089,333.642897,37.307241,55.129545,47.892255,778.883655,0.469873,52.435345,45.241400,1.278725,0.488109

In [49]:
category_stats

,Category,Avg Serving Size,Calories,Carbs,Total Fat,Protein,Fiber,Cholesterol,Sodium,Sugar,Potassium,Magnesium,Phosphorus,Vitamin C,Vitamin A,Calcium,Iron,Zinc,Vitamin E,Vitamin K
0,Dairy,59.148529,106.906176,4.840832,10.211112,2.732265,2.323882,26.677353,73.953235,3.994715,80.095882,6.691176,65.838529,25.636706,285.575882,0.229776,0.567735,79.286588,0.138576,0.338847
1,Fruits,132.420652,93.547609,21.741761,1.611015,1.575309,4.176321,0.000000,3.046533,14.316076,382.500109,24.950109,36.506750,43.310293,423.005870,0.657017,8.282234,21.871750,0.526740,0.255160
2,Grains,111.440000,199.961067,40.887987,1.844940,6.370973,5.646907,0.000000,12.680400,2.234143,349.218667,123.558533,285.994133,0.278267,4.222667,39.790267,3.678627,1.776811,0.790843,1.109827
3,Meat,100.000000,155.186047,0.523488,7.390000,21.327209,0.000000,86.883721,115.488372,0.000000,306.558140,35.069767,225.279070,1.481395,55.093023,0.731905,1.513953,32.488372,2.388372,2.068605
4,Non-veg Protien,50.000000,71.500000,0.550000,4.750000,6.300000,0.000000,186.500000,71.000000,0.050000,69.000000,5.000000,101.000000,0.000000,74.500000,25.000000,1.350000,0.650000,0.550000,0.000000
5,Nuts & Seeds,43.196000,176.315413,11.349885,12.857578,5.144603,3.248372,0.000000,2.139987,1.304766,218.393073,79.321540,137.791407,1.761404,9.315360,25.838736,1.439287,0.992333,1.328114,1.833640
6,Protien,132.875000,287.653750,47.169488,1.883225,26.413500,12.125000,9.990000,14.724125,587.100000,925.920000,263.215000,274.470500,2.775000,76.898750,29.743750,16.547500,36.089375,6.160250,2.458250
7,Vegetables,93.917241,53.284828,10.096786,0.548138,3.238648,2.974821,0.626483,21.343041,37.755089,333.642897,37.307241,55.129545,47.892255,778.883655,0.469873,52.435345,45.241400,1.278725,0.488109

In [50]:
gluten_stats = df.groupby('gluten').agg({
    'Avg Serving Size': 'mean',
    'Calories': 'mean',
    'Carbs': 'mean',
    'Total Fat': 'mean',
    'Protein': 'mean',
    'Fiber': 'mean',
    'Cholesterol': 'mean',
    'Sodium': 'mean',
    'Sugar': 'mean',
    'Potassium': 'mean',
    'Magnesium': 'mean',
    'Phosphorus': 'mean',
    'Vitamin C': 'mean',
    'Vitamin A': 'mean',
    'Calcium': 'mean',
    'Iron': 'mean',
    'Zinc': 'mean',
    'Vitamin E': 'mean',
    'Vitamin K': 'mean'
}).reset_index()

In [51]:
df.describe()

,Avg Serving Size,Calories,Carbs,Total Fat,Saturated Fat,Protein,Fiber,Cholesterol,Sodium,Sugar,Potassium,Magnesium,Phosphorus,Vitamin C,Vitamin A,Calcium,Iron,Zinc,Vitamin E,Vitamin K
count,427.000000,427.000000,427.000000,427.000000,427.000000,427.000000,427.000000,427.000000,427.000000,427.000000,427.000000,427.000000,427.000000,427.000000,427.000000,426.000000,427.000000,427.000000,427.000000,427.000000
mean,90.705152,123.959639,16.269320,4.545759,1.738200,6.167006,3.434702,11.710281,28.139610,26.302379,308.959544,59.998783,130.396450,23.529681,342.341972,12.493033,20.107926,28.468146,1.231406,0.991592
std,50.139972,122.363518,22.582265,8.254891,7.468819,8.710962,5.035094,32.035429,64.806115,320.438580,286.260170,122.606010,145.842545,143.104771,1073.595376,31.855080,100.109514,59.328217,2.351503,2.317831
min,2.100000,0.180000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,50.000000,34.650000,2.750000,0.294000,0.000400,1.300000,0.584000,0.000000,1.860000,0.252000,152.940000,12.800000,29.060000,0.000000,0.000000,0.190000,0.392000,1.453000,0.200000,0.096100
50%,100.000000,97.000000,6.200000,0.970000,0.190000,2.800000,2.090000,0.000000,5.600000,1.215200,252.000000,26.320000,66.000000,1.320000,4.000000,0.655000,1.508000,9.000000,0.495000,0.300000
75%,100.000000,159.805000,22.897000,4.975000,1.000000,6.300000,3.824000,0.000000,26.800000,3.114000,383.000000,59.700000,200.000000,14.678000,146.000000,13.120000,6.300000,27.000000,1.400000,0.991125
max,333.000000,867.510000,157.950000,69.100000,99.900000,78.588000,39.200000,233.000000,492.480000,4685.310000,2573.370000,1478.520000,845.450000,2832.900000,10190.660000,344.000000,1810.000000,550.000000,28.000000,28.000000

In [52]:
gluten_stats[:2]

,gluten,Avg Serving Size,Calories,Carbs,Total Fat,Protein,Fiber,Cholesterol,Sodium,Sugar,Potassium,Magnesium,Phosphorus,Vitamin C,Vitamin A,Calcium,Iron,Zinc,Vitamin E,Vitamin K
0,Contains Gluten,96.937500,234.081250,46.934781,2.140719,7.718469,8.371719,0.0,14.326562,1.225156,309.870000,91.598125,225.293125,0.105937,0.262500,30.351875,2.805906,1.728406,0.324125,1.518344
1,Gluten-Free,122.232558,174.569302,36.388047,1.624826,5.368186,3.619140,0.0,11.455349,2.985016,378.501395,147.343023,331.166977,0.406512,7.169767,46.814186,4.328093,1.812833,1.138167,0.805814

In [53]:
category_stats["Category"]

0              Dairy
1             Fruits
2             Grains
3               Meat
4    Non-veg Protien
5       Nuts & Seeds
6            Protien
7         Vegetables
Name: Category, dtype: object

In [54]:
# Assuming these are your vitamin and mineral columns
vitamin_columns = ['Vitamin C', 'Vitamin A', 'Vitamin E', 'Vitamin K']
mineral_columns = ['Potassium', 'Magnesium', 'Phosphorus', 'Calcium', 'Iron', 'Zinc']

# Create new columns for total vitamins and total minerals
df['Total_Vitamins'] = df[vitamin_columns].sum(axis=1)
df['Total_Minerals'] = df[mineral_columns].sum(axis=1)

In [55]:
df.describe()

,Avg Serving Size,Calories,Carbs,Total Fat,Saturated Fat,Protein,Fiber,Cholesterol,Sodium,Sugar,...,Phosphorus,Vitamin C,Vitamin A,Calcium,Iron,Zinc,Vitamin E,Vitamin K,Total_Vitamins,Total_Minerals
count,427.000000,427.000000,427.000000,427.000000,427.000000,427.000000,427.000000,427.000000,427.000000,427.000000,...,427.000000,427.000000,427.000000,426.000000,427.000000,427.000000,427.000000,427.000000,427.000000,427.000000
mean,90.705152,123.959639,16.269320,4.545759,1.738200,6.167006,3.434702,11.710281,28.139610,26.302379,...,130.396450,23.529681,342.341972,12.493033,20.107926,28.468146,1.231406,0.991592,368.094652,560.394624
std,50.139972,122.363518,22.582265,8.254891,7.468819,8.710962,5.035094,32.035429,64.806115,320.438580,...,145.842545,143.104771,1073.595376,31.855080,100.109514,59.328217,2.351503,2.317831,1090.820603,499.196764
min,2.100000,0.180000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.028000
25%,50.000000,34.650000,2.750000,0.294000,0.000400,1.300000,0.584000,0.000000,1.860000,0.252000,...,29.060000,0.000000,0.000000,0.190000,0.392000,1.453000,0.200000,0.096100,2.670000,274.218900
50%,100.000000,97.000000,6.200000,0.970000,0.190000,2.800000,2.090000,0.000000,5.600000,1.215200,...,66.000000,1.320000,4.000000,0.655000,1.508000,9.000000,0.495000,0.300000,20.992000,457.335000
75%,100.000000,159.805000,22.897000,4.975000,1.000000,6.300000,3.824000,0.000000,26.800000,3.114000,...,200.000000,14.678000,146.000000,13.120000,6.300000,27.000000,1.400000,0.991125,160.545000,702.200000
max,333.000000,867.510000,157.950000,69.100000,99.900000,78.588000,39.200000,233.000000,492.480000,4685.310000,...,845.450000,2832.900000,10190.660000,344.000000,1810.000000,550.000000,28.000000,28.000000,10194.588400,5337.080000

In [56]:
category_stats = df.groupby('Category').agg({
    'Avg Serving Size': 'mean',
    'Calories': 'mean',
    'Carbs': 'mean',
    'Total Fat': 'mean',
    'Protein': 'mean',
    'Fiber': 'mean',
    'Cholesterol': 'mean',
    'Sodium': 'mean',
    'Sugar': 'mean',
    'Total_Vitamins':'mean',
    'Total_Minerals':'mean'
}).reset_index()

In [57]:
category_stats

,Category,Avg Serving Size,Calories,Carbs,Total Fat,Protein,Fiber,Cholesterol,Sodium,Sugar,Total_Vitamins,Total_Minerals
0,Dairy,59.148529,106.906176,4.840832,10.211112,2.732265,2.323882,26.677353,73.953235,3.994715,311.690012,232.709688
1,Fruits,132.420652,93.547609,21.741761,1.611015,1.575309,4.176321,0.000000,3.046533,14.316076,467.098063,474.767968
2,Grains,111.440000,199.961067,40.887987,1.844940,6.370973,5.646907,0.000000,12.680400,2.234143,6.401603,804.017037
3,Meat,100.000000,155.186047,0.523488,7.390000,21.327209,0.000000,86.883721,115.488372,0.000000,61.031395,601.624186
4,Non-veg Protien,50.000000,71.500000,0.550000,4.750000,6.300000,0.000000,186.500000,71.000000,0.050000,75.050000,202.000000
5,Nuts & Seeds,43.196000,176.315413,11.349885,12.857578,5.144603,3.248372,0.000000,2.139987,1.304766,14.238518,463.776376
6,Protien,132.875000,287.653750,47.169488,1.883225,26.413500,12.125000,9.990000,14.724125,587.100000,88.292250,1545.986125
7,Vegetables,93.917241,53.284828,10.096786,0.548138,3.238648,2.974821,0.626483,21.343041,37.755089,828.542744,524.226301

In [58]:
category_mapping = {category: i for i, category in enumerate(df['Category'].unique())}

In [59]:
category_mapping

{'Fruits': 0,
 'Grains': 1,
 'Vegetables': 2,
 'Meat': 3,
 'Nuts & Seeds': 4,
 'Dairy': 5,
 'Protien': 6,
 'Non-veg Protien': 7}

In [60]:
 # Define user preferences
user_preferences = {
    'Dietary Restrictions': ['Vegetarian', 'Vegan', 'Gluten-Free', 'Nut-Free', 'Dairy-Free','Low Sodium'],
    'Nutrient Preferences': ['Low Carb', 'High Protein', 'High Fiber', 'Low Fat', 'Low Sugar', 'Low Cholesterol', 'Vitamin Rich', 'Mineral Rich']
}

In [61]:
df_new=df[['food items','Category']].copy()

In [62]:
gluten_free_categories = ['Gluten-Free','NIL']
df_new['Gluten_Free'] = df.apply(lambda row: 1 if 'Grains' in row['Category'] and any(category in row['gluten'] for category in gluten_free_categories) else 0, axis=1)

vegetarian_categories = ['Vegetables', 'Fruits', 'Grains','Nuts & Seeds','Dairy','Protien']
df_new['Vegetarian'] = df['Category'].apply(lambda x: 1 if any(category in x for category in vegetarian_categories) else 0)
vegan_categories = ['Vegetables', 'Fruits', 'Grains','Nuts & Seeds','Protien']
df_new['Vegan'] = df['Category'].apply(lambda x: 1 if any(category in x for category in vegan_categories) else 0)
nut_free_category=['Vegetables', 'Fruits', 'Grains','Meat','Non-veg Protien','Protien','Dairy']
df_new['Dairy_Free'] = df['Category'].apply(lambda x: 1 if 'Dairy' not in x else 0)
df_new['Nut Free'] = df['Category'].apply(lambda x: 1 if 'Nuts & Seeds' not in x else 0)
Non_veg=['Meat','Non-veg Protien']
df_new['Non-Vegetarian'] = df['Category'].apply(lambda x: 1 if any(category in x for category in Non_veg) else 0)

In [63]:
sodium_std = df['Sodium'].std()

# Set a threshold as mean minus one standard deviation
low_sodium_threshold = df['Sodium'].mean() - sodium_std
df_new['Low_Sodium'] = df['Sodium'].apply(lambda x: 1 if x < low_sodium_threshold else 0)
df_new['Low_Carb'] = (df['Carbs'] <= df['Carbs'].mean()).astype(int)
df_new['Vitamin_Rich'] = (df['Total_Vitamins'] >= df['Total_Vitamins'].mean()).astype(int)
df_new['Mineral_Rich'] = (df['Total_Minerals'] >= df['Total_Minerals'].mean()).astype(int)
df_new['Low_Cholesterol'] = (df['Cholesterol'] <= df['Cholesterol'].mean()).astype(int)
df_new['High_Fiber'] = (df['Fiber'] >= df["Fiber"].mean()).astype(int)
df_new['Low_Sugar'] = (df['Sugar'] <= df['Sugar'].mean()).astype(int)
df_new['High_Protein'] = (df['Protein']>=df['Protein'].mean()).astype(int)

In [64]:
df_new

,food items,Category,Gluten_Free,Vegetarian,Vegan,Dairy_Free,Nut Free,Non-Vegetarian,Low_Sodium,Low_Carb,Vitamin_Rich,Mineral_Rich,Low_Cholesterol,High_Fiber,Low_Sugar,High_Protein
0,Apple,Fruits,0,1,1,1,1,0,0,0,0,0,1,1,1,0
1,Apricot,Fruits,0,1,1,1,1,0,0,1,1,0,1,0,1,0
2,Avocado,Fruits,0,1,1,1,1,0,0,1,0,0,1,0,1,0
3,Banana,Fruits,0,1,1,1,1,0,0,0,0,0,1,0,1,0
4,Black Chokeberry,Fruits,0,1,1,1,1,0,0,0,1,1,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
422,velvet beans,Protien,0,1,1,1,1,0,0,0,0,1,1,1,1,1
423,pink beans,Protien,0,1,1,1,1,0,0,0,0,1,1,1,1,1
424,pintoÂ beans,Protien,0,1,1,1,1,0,0,0,0,1,1,1,1,1
425,navy beans,Protien,0,1,1,1,1,0,0,1,1,1,0,0,0,1
426,Eggs,Non-veg Protien,0,1,1,1,1,1,0,1,0,0,0,0,1,1

In [65]:
user_input = {
    'Gluten_Free': 0,
    'Vegetarian': 0,
    'Vegan': 0,
    'Dairy_Free': 0,
    'Nut Free':0,
    'Non-Vegetarian':1
}

In [66]:
user_series = pd.Series(user_input)

In [67]:
user_series

Gluten_Free       0
Vegetarian        1
Vegan             0
Dairy_Free        0
Nut Free          0
Non-Vegetarian    0
dtype: int64

In [68]:
filtered_df = df_new[(df_new[list(user_series[user_series == 1].index)] == 1).all(axis=1)]

In [69]:
filtered_df

,food items,Category,Gluten_Free,Vegetarian,Vegan,Dairy_Free,Nut Free,Non-Vegetarian,Low_Sodium,Low_Carb,Vitamin_Rich,Mineral_Rich,Low_Cholesterol,High_Fiber,Low_Sugar,High_Protein
0,Apple,Fruits,0,1,1,1,1,0,0,0,0,0,1,1,1,0
1,Apricot,Fruits,0,1,1,1,1,0,0,1,1,0,1,0,1,0
2,Avocado,Fruits,0,1,1,1,1,0,0,1,0,0,1,0,1,0
3,Banana,Fruits,0,1,1,1,1,0,0,0,0,0,1,0,1,0
4,Black Chokeberry,Fruits,0,1,1,1,1,0,0,0,1,1,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
422,velvet beans,Protien,0,1,1,1,1,0,0,0,0,1,1,1,1,1
423,pink beans,Protien,0,1,1,1,1,0,0,0,0,1,1,1,1,1
424,pintoÂ beans,Protien,0,1,1,1,1,0,0,0,0,1,1,1,1,1
425,navy beans,Protien,0,1,1,1,1,0,0,1,1,1,0,0,0,1
426,Eggs,Non-veg Protien,0,1,1,1,1,1,0,1,0,0,0,0,1,1

In [70]:
user_input_nutrient = {
    'Low_Sodium': 0,
    'Low_Carb': 1,
    'High_Protein': 1,
    'High_Fiber': 0,
    'Low_Sugar': 0,
    'Low_Cholesterol': 0,
    'Vitamin_Rich': 0,
    'Mineral_Rich': 1
}

In [71]:
user_series_nutrient = pd.Series(user_input_nutrient)

In [72]:
filtered_df = filtered_df[(filtered_df[list(user_series_nutrient[user_series_nutrient == 1].index)] == 1).all(axis=1)]

In [73]:
filtered_df

,food items,Category,Gluten_Free,Vegetarian,Vegan,Dairy_Free,Nut Free,Non-Vegetarian,Low_Sodium,Low_Carb,Vitamin_Rich,Mineral_Rich,Low_Cholesterol,High_Fiber,Low_Sugar,High_Protein
156,Broad Beans,Vegetables,0,1,1,1,1,0,0,1,0,1,1,1,1,1
190,Edamame Beans,Vegetables,0,1,1,1,1,0,0,1,0,1,1,1,1,1
258,Navy Beans,Vegetables,0,1,1,1,1,0,0,1,1,1,0,0,0,1
312,Beech Nuts,Nuts & Seeds,0,1,1,1,0,0,0,1,0,1,1,1,1,1
313,Black Walnut,Nuts & Seeds,0,1,1,1,0,0,0,1,0,1,1,1,1,1
329,Hemp Seeds,Nuts & Seeds,0,1,1,1,0,0,0,1,0,1,1,0,1,1
351,Watermelon Seeds,Nuts & Seeds,0,1,1,1,0,0,0,1,0,1,1,1,1,1
399,Hemp Seed,Nuts & Seeds,0,1,1,1,0,0,0,1,0,1,1,0,1,1
420,edamame beans,Protien,0,1,1,1,1,0,0,1,0,1,1,1,1,1
425,navy beans,Protien,0,1,1,1,1,0,0,1,1,1,0,0,0,1

In [74]:
filtered_indexes = filtered_df.index.tolist()

# Display the corresponding rows from the original DataFrame
original_filtered_df = df.loc[filtered_indexes]
original_filtered_df

,food items,Avg Serving Size,Calories,Category,gluten,Carbs,Total Fat,Saturated Fat,Protein,Fiber,...,Phosphorus,Vitamin C,Vitamin A,Calcium,Iron,Zinc,Vitamin E,Vitamin K,Total_Vitamins,Total_Minerals
156,Broad Beans,100.0,88.00,Vegetables,NIL,14.0000,0.7000,0.100,7.600,6.40,...,103.000,40.00,34.00,1.6,25.00,1.500,2.700,1.700,78.400,785.100
190,Edamame Beans,100.0,121.00,Vegetables,NIL,11.1000,5.2000,0.700,10.100,5.20,...,202.000,3.00,79.00,0.7,17.80,5.000,2.700,0.600,85.300,827.500
258,Navy Beans,333.0,200.13,Vegetables,NIL,4.0959,0.8658,74.259,78.588,0.00,...,2.664,0.00,476.19,0.0,0.00,14.985,14.652,0.666,491.508,1902.429
312,Beech Nuts,100.0,567.00,Nuts & Seeds,NIL,13.8000,53.6000,5.500,10.600,5.90,...,266.000,0.00,0.00,22.0,1.10,2.700,0.000,0.000,0.000,897.800
313,Black Walnut,100.0,691.00,Nuts & Seeds,NIL,13.7000,69.1000,6.800,15.200,6.80,...,410.000,0.00,0.00,61.0,2.90,3.100,0.000,0.000,0.000,1382.000
329,Hemp Seeds,30.0,165.90,Nuts & Seeds,NIL,0.6900,14.7000,1.350,9.480,0.36,...,348.000,0.45,0.00,21.0,2.97,2.370,0.240,2.100,2.790,779.040
351,Watermelon Seeds,100.0,557.00,Nuts & Seeds,NIL,11.0000,49.0000,10.000,28.000,4.00,...,648.000,0.00,0.00,0.0,7.00,0.000,0.000,0.000,0.000,1818.000
399,Hemp Seed,30.0,165.90,Nuts & Seeds,NIL,0.6900,14.7000,1.350,9.480,0.36,...,348.000,0.45,0.00,21.0,2.97,2.370,0.240,2.100,2.790,779.040
420,edamame beans,100.0,121.00,Protien,NIL,11.1000,5.2000,0.700,10.100,5.20,...,202.000,3.00,79.00,0.7,17.80,5.000,2.700,0.600,85.300,827.500
425,navy beans,333.0,200.13,Protien,NIL,4.0959,0.8658,74.259,78.588,0.00,...,2.664,0.00,476.19,0.0,0.00,14.985,14.652,0.666,491.508,1902.429

In [75]:
preference_mapping = {
    'Low_Sodium': 'Sodium',
    'Low_Carb': 'Carbs',
    'High_Protein': 'Protein',
    'High_Fiber': 'Fiber',
    'Low_Sugar': 'Sugar',
    'Low_Cholesterol': 'Cholesterol',
    'Vitamin_Rich': 'Total_Vitamins',
    'Mineral_Rich': 'Total_Minerals'
}

In [76]:
user_input_nutrient = {
    'Low_Sodium': 0,
    'Low_Carb': 1,
    'High_Protein': 1,
    'High_Fiber': 0,
    'Low_Sugar': 0,
    'Low_Cholesterol': 0,
    'Vitamin_Rich': 0,
    'Mineral_Rich': 1
}

In [77]:
selected_columns = [col for col, value in user_input_nutrient.items() if value == 1]

In [78]:
selected_columns

['Low_Carb', 'High_Protein', 'Mineral_Rich']

In [79]:
corresponding_columns = [preference_mapping[col] for col in selected_columns]

In [80]:
corresponding_columns

['Carbs', 'Protein', 'Total_Minerals']

In [81]:
original_filtered_df[['food items', 'Calories'] + corresponding_columns]

           food items  Calories    Carbs  Protein  Total_Minerals
156       Broad Beans     88.00  14.0000    7.600         785.100
190     Edamame Beans    121.00  11.1000   10.100         827.500
258        Navy Beans    200.13   4.0959   78.588        1902.429
312        Beech Nuts    567.00  13.8000   10.600         897.800
313      Black Walnut    691.00  13.7000   15.200        1382.000
329        Hemp Seeds    165.90   0.6900    9.480         779.040
351  Watermelon Seeds    557.00  11.0000   28.000        1818.000
399         Hemp Seed    165.90   0.6900    9.480         779.040
420     edamame beans    121.00  11.1000   10.100         827.500
425       navy beansÂ     200.13   4.0959   78.588        1902.429

In [82]:
sorting_rules = {
    'rich': 'descend',  # Sort in descending order for "rich" nutrients
    'high': 'descend',  # Sort in descending order for "high" nutrients
    'low': 'ascend'     # Sort in ascending order for "low" nutrients
}

In [83]:
sorted_datasets = []
for nutrient, value in user_input_nutrient.items():
    if value == 1:
        # Extract the corresponding column from preference_mapping
        column = preference_mapping[nutrient]
        
        # Extract the keyword from the nutrient name
        keyword = ''
        for kw, order in sorting_rules.items():
            if kw in nutrient.lower():
                keyword = kw
                sorting_order = order
                break
        
        # Sort the DataFrame accordingly
        sorted_df = original_filtered_df.sort_values(by=column, ascending=(sorting_order == 'ascend'))
        
        sorted_datasets.append((column, sorting_order, sorted_df[['food items','Calories',column]][:5]))

# Display sorted datasets
for column, order, dataset in sorted_datasets:
    print(f"Sorted Dataset by '{column}' in {order}ing order:")
    print(dataset)
    print()

Sorted Dataset by 'Carbs' in ascending order:
           food items  Calories    Carbs
329        Hemp Seeds    165.90   0.6900
399         Hemp Seed    165.90   0.6900
258        Navy Beans    200.13   4.0959
425       navy beansÂ     200.13   4.0959
351  Watermelon Seeds    557.00  11.0000

Sorted Dataset by 'Protein' in descending order:
           food items  Calories  Protein
258        Navy Beans    200.13   78.588
425       navy beansÂ     200.13   78.588
351  Watermelon Seeds    557.00   28.000
313      Black Walnut    691.00   15.200
312        Beech Nuts    567.00   10.600

Sorted Dataset by 'Total_Minerals' in descending order:
           food items  Calories  Total_Minerals
258        Navy Beans    200.13        1902.429
425       navy beansÂ     200.13        1902.429
351  Watermelon Seeds    557.00        1818.000
313      Black Walnut    691.00        1382.000
312        Beech Nuts    567.00         897.800